spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecdb
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true
  data:
    redis:
      host: localhost
      port: 6379
      password: 1234
      timeout: 3s

  redis:
    redisson:
      file: classpath:redisson.yml